<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header" style="display: flex; justify-content: space-between;">
                <div>
                    <h5 class="title">Agent</h5>
                </div>
                <div>
                    <button class="btn btn-default btn-round">
                        <i class="now-ui-icons ui-1_simple-add"></i>&nbsp&nbsp Add Agent
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#">
                            <blockquote class="blockquote">
                                <p class="mb-0">Weather</p>
                            </blockquote>
                        </a>
                        <a href="#">
                            <blockquote class="blockquote">
                                <p class="mb-0">Greet</p>
                            </blockquote>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" ng-include="'/dashboard/js/shared/tryChat.html'"></div>
</div>